.tCard{
  padding: 5px;
  border-radius: 2em;
  margin: 0 auto;
}

.month{
  font-weight: 800;
  font-size: large;
  color: orange;
  margin-left: 5px;
}

.day{
margin-left: 13px;
font-weight: 500;
}

.tAmount{
  font-weight: 400;
  font-size: 1em;
  color: #333a3d;
}

@media (min-width: 450px) { 
  .tCard{
    width: 300px;
    padding: 5px;
    border-radius: 2em;
    height: 4em
    // margin: 0 auto;
  }
 }

 @media (min-width: 250px) { 
  .tCard{
    width: 98%;
    max-width: 350px;
    padding: 5px;
    border-radius: 2em;
    overflow: hidden;
    
    // margin: 0 auto;
  }
 }

 .listItems{
  max-height: 50vh;
  overflow: auto
}

.trashContainer{
  display: inline-flex;
  width: 20px;
  margin: 0
  
}

.tTitle{
  font-weight: 300;
  font-size:1.5em;
  // display: flex;
  margin-left: -10px;
}


//Form Style
input[type="text"],
input[type="number"],
input[type="date"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #a31010;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
