#body { 
  margin: 0;
  background: url(/images/bg.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;

}



.logo{
  width: 200px;
  height: auto;
}


header.masthead {
  position: relative;
  margin-top: 50px;
  width: 100%;

  color: white;
  .header-content {
      max-width: 500px;
      margin-bottom: 100px;

      text-align: center;
      h1 {
          font-size: 30px;
      }
  }
  .img-fluid{
     width: 100%;
  }

  .device-container {
      max-width: 505px;
      margin-right: auto;
      margin-left: auto;
      .screen img {
          border-radius: 3px;
      }
  }
  @media (min-width: 992px) {
      height: 100%;
      min-height: 500px;
      padding-top: 0;
      padding-bottom: 0;
      .header-content {
          margin-bottom: 0;

          text-align: left;
          h1 {
              font-size: 50px;
          }
      }
      .device-container {
          max-width: 325px;
      }
  }
}

.login{
    color: rgb(255, 255, 255);
    font-weight: 600;
    // margin-right:50px;
    display: inline-block;
    font-size: 1.2em;
}

.login:hover{
    color: #FFCE56;
    -webkit-transition: .5s ease all;
    transition: .2s ease all;
    cursor: pointer;
    text-decoration: none !important
}



.btn-warning{
    color: #FFCE56;
    font-weight: 600

}

.btn-warning:hover{
    color: #FFCE56
}